<% layout('layout') -%>
<body style="margin: 0px; background: #0e0e0e; height: 100%; padding-top: 8.8%;" class="text-center">
<picture>
    <img src="https://http.cat/404" >
    
    </picture>
</body>
    

    <% block('js', `<script>
        
        </script>`) -%>